<!-- cldr scripts (needed for globalize) -->
<script src="https://cdn.jsdelivr.net/gh/rxaviers/cldrjs@0.5.1/dist/cldr.js"></script>
<script src="https://cdn.jsdelivr.net/gh/rxaviers/cldrjs@0.5.1/dist/cldr/event.js"></script>
<script src="https://cdn.jsdelivr.net/gh/rxaviers/cldrjs@0.5.1/dist/cldr/supplemental.js"></script>

<!-- globalize scripts -->
<script src="https://cdn.jsdelivr.net/gh/globalizejs/globalize@1.4.2/dist/globalize.js"></script>
<script src="https://cdn.jsdelivr.net/gh/globalizejs/globalize/dist/globalize/number.js"></script>
<script src="https://cdn.jsdelivr.net/gh/globalizejs/globalize/dist/globalize/date.js"></script>
<script src="https://cdn.jsdelivr.net/gh/globalizejs/globalize/dist/globalize/currency.js"></script>

<!-- jquery valdiation globalize -->
<script src="https://cdn.jsdelivr.net/gh/johnnyreilly/jquery-validation-globalize@1.0.0/jquery.validate.globalize.min.js"></script>

<script type="text/javascript">
    $.when(
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-core@{cldr-core-version}/supplemental/likelySubtags.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-numbers-full@{cldr-core-version}/main/{culture}/numbers.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-numbers-full@{cldr-core-version}/main/{culture}/currencies.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-core@{cldr-core-version}/supplemental/numberingSystems.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-dates-full@{cldr-core-version}/main/{culture}/ca-gregorian.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-dates-full@{cldr-core-version}/main/{culture}/timeZoneNames.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-core@{cldr-core-version}/supplemental/timeData.json"),
        $.get("https://cdn.jsdelivr.net/gh/unicode-cldr/cldr-core@{cldr-core-version}/supplemental/weekData.json")
    ).then(function () {
        // Normalize $.get results, we only need the JSON, not the request statuses.
        return [].slice.apply(arguments, [0]).map(function (result) {
            return result[0];
        });
    }).then(Globalize.load).then(function () {
        Globalize.locale("{culture}");
    });
</script>

